# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# Logs
*.log

# Data
data/models/
data/vectorstore/
data/cache/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/